# Copied from titlepic/ -
???title.png
# Copied from text/ -
wilv??.png
cwilv??.png
dmwilv??.png
credit.png
help.png
m_about.png
m_accel.png
m_acpt.png
m_auto.png
m_can.png
m_chat.png
m_chatm.png
m_chg.png
m_compat.png
m_demos.png
m_detail.png
m_disopt.png
m_disp.png
m_dmflag.png
m_endgam.png
m_enem.png
m_epi?.png
m_episod.png
m_etcopt.png
m_exito.png
m_feat.png
m_gdhigh.png
m_gdlow.png
m_generl.png
m_gset.png
m_horsen.png
m_hud.png
m_hurt.png
m_jkill.png
m_joyset.png
m_keybnd.png
m_ldsv.png
m_lgttl.png
m_loadg.png
m_loksen.png
m_menus.png
m_mess.png
m_messg.png
m_mouse.png
m_msens.png
m_msgoff.png
m_msgon.png
m_multi.png
m_musvol.png
m_newg.png
m_ngame.png
m_nmare.png
m_option.png
m_optttl.png
m_pause.png
m_player.png
m_quitg.png
m_rdthis.png
m_rough.png
m_saveg.png
m_scrnsz.png
m_serial.png
m_setup.png
m_sfxvol.png
m_sgttl.png
m_skill.png
m_sound.png
m_stat.png
m_status.png
m_svol.png
m_tcpip.png
m_ultra.png
m_versen.png
m_video.png
m_wad.png
m_wadopt.png
m_weap.png
prboom.png
t_phase1.png
t_phase2.png
wibp1.png
wibp2.png
wibp3.png
wibp4.png
wicolon.png
wienter.png
wif.png
wifrgs.png
wikilrs.png
wiminus.png
wimstar.png
wimstt.png
winum?.png
wiostf.png
wiosti.png
wiostk.png
wiosts.png
wip?.png
wipar.png
wipcnt.png
wiscrt2.png
wisucks.png
witime.png
wivctms.png
