*.html
deutex.log
graphics/titlepic/freedm.gif
graphics/titlepic/freedoom.gif
graphics/titlepic/ultdoom.gif
lumps/cph/misc-lumps/colormap.lmp
lumps/cph/misc-lumps/playpal.lmp
lumps/freedoom.lmp
lumps/freedm.lmp
sprites/jond/placeholder/*.gif
textures/doom/pnames.txt
textures/doom/texture1.txt
textures/doom2/pnames.txt
textures/doom2/texture1.txt
textures/freedm/pnames.txt
textures/freedm/texture1.txt
textures/texture1.txt
wads/*.wad
wad*.txt
*.bak
