*.html
deutex.log
graphics/titlepic/fd?title.gif
graphics/titlepic/m_*.gif
lumps/cph/misc-lumps/*map.lmp
lumps/cph/misc-lumps/playpal.lmp
lumps/freedoom.lmp
lumps/freedm.lmp
sprites/jond/placeholder/*.gif
wads/*.wad
wads/*.zip
wad*.txt
*.bak
*.pyc
