# Copied from playpal/ -
playpal.lmp
# Copied from colormap/ -
*map.lmp
# Copied from dmxgus/ -
dmxgus.lmp
# Copied from genmidi/ -
genmidi.lmp
# Copied from textures/ -
???pname.lmp
???txtr1.lmp
???txtr2.lmp

# Generated dehacked files
fdm_deh.lmp
p1_deh.lmp
p2_deh.lmp
