m_*.gif
wi*.gif
wilv*.gif
cwilv*.gif
data.stamp
dmwilv*.gif
helpbg.png
help.gif
helpoverlay.png
helpttl.gif
prboom.gif
graphics.stamp
textgen.mk
credit.gif
credtext*.png
freettl.gif
helptext*.png
wikilrs_horiz.png
