m_*.png
wi*.png
wilv*.png
cwilv*.png
data.stamp
dmwilv*.png
helpbg.png
help.png
helpoverlay.png
helpttl.png
prboom.png
graphics.stamp
textgen.mk
credit.png
credtext*.png
freettl.png
helptext*.png
wikilrs_horiz.png
